
.app {
  display: grid;
  grid-template-areas: "sidebar reviews average sentiment"
  "sidebar visitors visitors visitors" ;
}

.app > #sidebar {
  grid-area: sidebar;
}

.app > #reviews {
  grid-area: reviews;
}

.app > #average {
  grid-area: average;
}

.app > #sentiment {
  grid-area: sentiment;
}

.app > #visitors {
  grid-area: visitors;
}

/* sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

/* reviews */


/* average */


/* sentiment */


/* visitors */
